# OS Files
.DS_Store
Thumbs.db

moarvm-go/build/moarvm/include
moarvm-go/build/moarvm/share

# IDE & Editor Files
.vscode/
.idea/
*.swp
*~

# Temporary, Scratch, and Log Files
*.log
*.tmp
scratch/

# Build Intermediates (Objects & Static Archives)
*.o
*.obj
*.a

# Explicitly Allow DLLs and EXEs in Bin & Build Folders
!*.dll
!*.exe
!**/bin/*.dll
!**/bin/*.exe
!**/build/**/*.dll
!**/build/**/*.exe
