# OS Files
.DS_Store
Thumbs.db

# IDE & Editor Files
.vscode/
.idea/
*.swp
*~

# Temporary, Scratch, and Log Files
*.log
*.tmp
scratch/
release/
release_staging/

# Build Intermediates, Objects & Static Archives
*.o
*.obj
*.a

# Executables, Dynamic Libraries & Release Archives
*.exe
*.dll
*.wasm
*.zip

# Build Output Directories & Binaries
build/
**/build/
bin/*
**/bin/*
!bin/.keep
!**/bin/.keep
